.header {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/d231394d-5e7c-476f-ab8b-bbd01838235d/CL-es-20220801-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    height: 100vh;
}

.colorRojo {
    background-color: #F40612;
}

.bg-nav-custom {
    background-color: rgba(0, 0, 0, 0.228);
}

.header p,
.header h1 {
    text-shadow: 1px 1px 5px black;
}

.botoncito {
    border-radius: 0;
}

main>div h1 {
    color: red;
}

/* .parrafo {
    color: greenyellow;
} */




/* #F40612 */